body {
    font-family: 'Poppins', sans-serif;
}

/* header part */
header .navbar a {
    color: #3E3E3E;
}
header .brand-name {
    font-size: 22px;
}

/* carousel sliding section */
#carousel-1 {
    background-image: url('../images/banner-1.png');
}
#carousel-2 {
    background-image: url('../images/banner-2.jpg');
}
#carousel-3 {
    background-image: url('../images/banner-3.jpg');
}
#carousel-4 {
    background-image: url('../images/banner-4.jpg');
}
.carousel-content {
    padding-top: 300px;
    padding-bottom: 60px;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.3);
}
.carousel-section .carousel-heading {
    font-size: 48px;
}
.carousel-section p {
    font-weight: 300;
}
.carousel-section .book-now-btn {
    background-color: white;
    color: #3F87F5;
}