body {
    font-family: 'Poppins', sans-serif;
}

/* header part */
header .navbar a {
    color: #3E3E3E;
}
header .brand-name {
    font-size: 22px;
}

/* carousel sliding section */
#carousel-1 {
    background-image: url('../images/banner-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#carousel-2 {
    background-image: url('../images/banner-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#carousel-3 {
    background-image: url('../images/banner-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#carousel-4 {
    background-image: url('../images/banner-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-content {
    padding-top: 300px;
    padding-bottom: 60px;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.3);
}
.carousel-section .carousel-heading {
    font-size: 48px;
}
.carousel-section p {
    font-weight: 300;
}
.carousel-section .book-now-btn {
    background-color: white;
    color: #3F87F5;
}

/* Our package section start */
.package-section:not(.item-text) {
    font-family: 'Roboto', sans-serif;
}
.section-name {
    color: #0A0826;
    font-size: 38px;
    font-weight: 600;
}
.package-section .section-name {
    margin-bottom: 100px;
}
.package-section .price {
    font-size: 36px;
    color: #231D4F;
}
.package-section .title {
    font-size: 28px;
    color: #231D4F;
}
.package-section ul .check {
    background-color: #EDECF9;
    color: #5243C2;
    font-size: 12px;
    border-radius: 50%;
}
.package-section .item-text {
    font-size: 15px;
    color: #848199;
}
.package-section ul .item-text {
    margin-left: 5px;
}
.package-section .choose-btn {
    background-color: #FEF5FA;
    color: #3F87F5;
}
#wedding-plus, .wedding-plus-content {
    background-color: rgba(63, 135, 245, 1);
    border-radius: 12px;
}
#wedding-plus .wedding-plus-content {
    transform: translateY(-40px)
}
.wedding-plus-content .badge {
    left: 90%;
}
#wedding-plus .check {
    background-color: #5293F6;
}

/* exivision section  */
#exivision-1 {
    background-image: url('../images/exivision-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#exivision-2 {
    background-image: url('../images/exivision-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#exivision-3 {
    background-image: url('../images/exivision-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#exivision-4 {
    background-image: url('../images/exivision-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#exivision-5 {
    background-image: url('../images/exivision-5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#exivision-6 {
    background-image: url('../images/exivision-6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.exivision {
    padding-top: 250px;
    transition: 0.3s;
    border-radius: 8px;
}
.exivision:hover {
    transform: translateY(-10px);
}
.exivision h4 {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* FAQ section starts */
.FAQ-section .accordion-col {
    font-family: 'Inter', sans-serif;
}
.FAQ-section .accordion-col h2 {
    font-size: 20px;
    font-weight: 500;
    color: #383838;
}

/* footer start */
